<%- include("esentials/header.ejs"); %>

<section class="about">
    <h1>Om</h1>
    <p>De som har jobbat på detta projektet är Majd, Kasper och Måns.</p>
</section>

<%- include("esentials/footer.ejs"); %>