<%- include("esentials/header.ejs"); %>

<section class="done">
    <h1>Tack för din order!</h1>
    <p>Vi har mottagit din order och kommer behandla den så snabbt som möjligt.</p>
    <a href="/eshop/order" class="show-customers">
        <div class="showCustomers">
            <h2>Beställningar</h2>
        </div>
    </a>
</section>

<%- include("esentials/footer.ejs"); %>