<!doctype html>
<meta charset="utf-8">

<link rel="stylesheet" href="/public/style/footer.css">
<link rel="stylesheet" href="/public/style/header.css">
<link rel="stylesheet" href="/public/style/main.css">
<link rel="stylesheet" href="/public/style/product.css">
<link rel="stylesheet" href="/public/style/index.css">
<link rel="stylesheet" href="/public/style/category.css">
<link rel="stylesheet" href="/public/style/about.css">
<link rel="stylesheet" href="/public/style/form.css">
<link rel="stylesheet" href="/public/style/customer.css">
<link rel="stylesheet" href="/public/style/done.css">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;">

<header class="Nav">
    <ul>
        <li><a href="/eshop/index">Home</a></li>
        <li><a href="/eshop/product">Produkter</a></li>
        <li><a href="/eshop/category">Kategorier</a></li>
        <li><a href="/eshop/customer">Kund</a></li>
        <li><a href="/eshop/order">Beställningar</a></li>
        <li><a href="/eshop/about">Om StorMax</a></li>
    </ul>
    <div class="logo">
        <img src="/public/images/loggamax.png"  alt="logo">
    </div>
</header>

<script src="https://use.fontawesome.com/0aee473986.js"></script>
